input {
    width: 250px;
    height: 40px;
    display: block;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 0px 10px;
}

main{
  justify-content: center;
    background-color: rgb(38,42,50);
    margin: 100px auto;
    border-radius: 10px;
    padding: 40px 80px;
    display:inline-block;
    text-align: center;
}


h1, h2 {
    color: lightgreen;
}

h2 {
    margin-bottom: 40px;
}

a {
    color: lightgreen;
    font-size: 25px;
    padding: 20px;
    margin-top: 25px;
  
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
}

body {
    background-color: rgb(30, 33, 38);
    background-image:url(../images/veggies.jpg);
    color: white;
    margin: 0;
    text-align: center;
    background-repeat: no-repeat;
}


h1{
  padding-top: 50px;
  font-size: 50px;
  
}